@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Avenir';
  src: url('/fonts/Avenir-Book-45.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Avenir';
  src: url('/fonts/Avenir-Book-14.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Avenir';
  src: url('/fonts/Avenir-Book-12.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('/fonts/Montserrat-Regular-15.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('/fonts/Montserrat-Medium-15.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Avenir', sans-serif;
  background-color: #ffffff;
}
